/* src/Calculator.css */

/* Styling for the calculator container */
.calculator {
  width: 543px;
  height: 870px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  margin-top: 100px;
}

/* Styling for the input field */
input {
  width: 92%;
  font-size: 24px;
  padding: 10px;
  height: 90px;
  color: white;
  border-radius: 7px;
  border: 1px solid #FFFEFE;
  background: #000;
  margin-top: 10px;
  text-align: right;
  font-size: 100px;
}

/* Operator section */
.operator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  font-size: 24px;
  color: gray;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
}

/* Styling for the operator buttons */
.operator button {
  color: white;
  background-color: lightgray;
  margin-top: 5px;
  width: 96px;
  height: 70px;
  border-radius: 5px;
  font-size: 25px;
  margin-bottom: 10px;
}

/* Styling for the buttons from 0 to 9 and . and = */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  border-radius: 7px;
  background: #000;
  width: 515px;
  height: 648px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Styling for the buttons inside the .buttons section */
.buttons button {
  font-size: 24px;
  padding: 10px;
  background-color: black;
  border-radius: 7px;
  color: #FFFEFE;
}
