/* src/Calculator.css */

/* Styling for the calculator container */
.calculator {
  width: 400px;
  height: 570px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  margin-top: 100px;
}

/* Styling for the input field */
input {
  width: 92%;
  font-size: 24px;
  padding: 10px;
  height: 90px;
  color: white;
  border-radius: 7px;
  border: 1px solid #FFFEFE;
  background: #000;
  margin-top: 10px;
  text-align: right;
  font-size: 100px;
}

/* Operator section */
.operator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  font-size: 24px;
  color: gray;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1px;
}

/* Styling for the operator buttons */
.operator button {
  color: white;
  background-color: lightgray;
  margin-top: 5px;
  height: 70px;
  border-radius: 5px;
  font-size: 25px;
  margin-bottom: 10px;
}

/* Styling for the buttons from 0 to 9 and . and = */
.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  border-radius: 7px;
  /* background: #000; */
  height: 350px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  background: linear-gradient(45deg, #ff0000, #ff7700, #fffb00, #00ff00, #0077ff, #8c00ff, #ff00f7);
  background-size: 150% 150%;
  animation: gradient 20s linear infinite;
}

/* Styling for the buttons inside the .buttons section */
.buttons button {
  font-size: 24px;
  padding: 10px;
  background-color: black;
  border-radius: 7px;
  color: #FFFEFE;
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  position: relative;

}

.outer {
  background: linear-gradient(330deg, #ff0000, #ff7700, #fffb00, #00ff00, #0077ff, #8c00ff, #ff00f7);
  background-size: 200% 200%;
  animation: gradient 2s ease infinite;
  padding: 2px;
  border-radius: 9px;

}

/* Inner div */
.inner {
  background: black;
  border-radius: 7px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}